<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{CSS_PATH}/bootstrap.min.css">
    <link rel="stylesheet" href="{CSS_PATH}/base.css">

    <style>
        table{
            margin-top: 40px!important;
            width: 80%!important;
            margin:0 auto;
        }
    </style>
</head>
<body>
<table class="table table-bordered">
    <th>id</th>
    <th>列表名</th>
    <th>操作</th>
    {foreach $title as $v }
    <tr>
        <td>{$v["id"]}</td>
        <td>{$v["title"]}</td>
        <td>
            <a href="index.php?m=admin&f=lunbo&a=addLunCon">添加轮播</a>
            <a href="" style="margin-left: 20px">查看轮播</a>
        </td>
    </tr>
    {/foreach}
</table>
</body>
</html>