<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{CSS_PATH}/bootstrap.min.css">
    <link rel="stylesheet" href="{CSS_PATH}/base.css">

    <style>
        table{
            margin-top: 40px!important;
            width: 80%!important;
            margin:0 auto;
        }
    </style>
</head>
<body>

<table class="table table-bordered">
    <th>id</th>
    <th>用户名</th>
    <th>昵称</th>
    <th>头像</th>
    <th>操作</th>
    {foreach $result as $v }
    <tr>
        <td>{$v["mid"]}</td>
        <td>{$v["mname"]}</td>
        <td>{$v["nicheng"]}</td>
        <td><img src="../{$v['mphoto']}" alt="" style="width: 100px;height: 100px;"></td>
        <td>
            <a href="index.php?m=admin&f=member&a=del&mid={$v['mid']}">删除</a>
            <a href="index.php?m=admin&f=member&a=edit&mid={$v['mid']}" style="margin-left: 20px">编辑</a>
        </td>
    </tr>
    {/foreach}
</table>
</body>
</html>