<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="css/base.css ">
    <link rel="stylesheet" href="css/dtt-dingdanxiangqing.css">
    <script src="js/rem.js"></script>
    <script src="js/jQuery.js"></script>
    <title>Document</title>
</head>
<body>
<div class="swiper-container">
    <div class="banner swiper-wrapper">
        <div class="banner-tu swiper-slide">
            <img src="img/dtt-dingdan_03.png" alt="">
        </div>
        <div class="banner-tu swiper-slide">
            <img src="img/dtt-dingdan_03.png" alt="">
        </div>
        <div class="banner-tu swiper-slide">
            <img src="img/dtt-dingdan_03.png" alt="">
        </div>
        <div class="banner-tu swiper-slide">
            <img src="img/dtt-dingdan_03.png" alt="">
        </div>
        <!--<ul class="lunbo-dian">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>-->
    </div>
    <div class="swiper-pagination lunbo-dian"></div>
</div>

<div class="main">
    <div class="main-bt">
        北京至马尔代夫康杜马岛豪华自由行
    </div>
    <div class="main-xiaobt">
        <div class="main-xiaobt-tu">
            <img src="img/dtt-dingdan_07.png" alt="">
        </div>
        <p>6DAY , 5NIGHT</p>
    </div>
    <div class="main-xiaobt-nr">
        <ul>
            <li>自由行</li>
            <li>豪华</li>
            <li>当地向导</li>
        </ul>
    </div>
    <div class="time">
        <div class="main-lanmu">
            <p>CHUXINGSHIJIAN</p>
            <span>出行时间</span>
            <p class="diandian">....................................................................................</p>
        </div>
        <div class="main-lanmu-nr">
            <ul>
                <li><p>5.20</p></li>
                <li class="active">5.21</li>
                <li>5.22</li>
                <li>5.23</li>
                <li>5.24</li>
                <li>5.25</li>
            </ul>
        </div>
    </div>

     <div class="taocan">
         <div class="main-lanmu">
             <p>CHUXINGTAOCAN</p>
             <span>出行套餐</span>
             <p class="diandian">....................................................................................</p>
         </div>

         <div class="main-lanmu-taocannr">
             <div class="main-lanmu-taocan-left">
              <p>. 北京至马尔代夫康杜马岛豪华自由行</p>
                 <div class="main-taocan-xuanze">
                     <div class="main-taocan-xuanze-box">
                         自由行
                     </div>
                     <div class="main-taocan-xuanze-box">
                         机加酒
                     </div>
                 </div>
             </div>
             <div class="main-lanmu-taocan-right">
                 <p>REM</p>
                 <span>3800</span>
             </div>
         </div>

         <div class="main-lanmu-taocan-bottom">
             <div class="main-lmtcb-box">
             <div class="main-lmtcb-tu">
                 <img src="img/dtt-dingdan_11.png" alt="">
             </div>
             <div class="main-lmtcb-fangan">
                 旅游方案
             </div>
             <div class="main-lmtcb-money">
                 x 1900
             </div>
         </div>
             <div class="main-lmtcb-box">
                 <div class="main-lmtcb-tu">
                     <img src="img/dtt-dingdan_11.png" alt="">
                 </div>
                 <div class="main-lmtcb-fangan">
                     机加酒
                 </div>
                 <div class="main-lmtcb-money">
                     x 1000
                 </div>
             </div>
             <div class="main-lmtcb-box">
                 <div class="main-lmtcb-tu">
                     <img src="img/dtt-dingdan_11.png" alt="">
                 </div>
                 <div class="main-lmtcb-fangan">
                     签证
                 </div>
                 <div class="main-lmtcb-money">
                     x 900
                 </div>
             </div>
         </div>
     </div>
     <div class="renshu">
         <div class="main-lanmu">
             <p>CHUXINGTAOCAN</p>
             <span>出行人数</span>
             <p class="diandian">....................................................................................</p>
         </div>
         <div class="main-lanmu-renshunr">
             <div class="mlmrs-geshu">
                 <div class="mlmrs-renshu">
                     <div class="mlmrs-renshu-tu">
                         <img src="img/dtt-dingdan_15.png" alt="">
                     </div>
                     <input class="show-renshu" value="2">
                 </div>
                 <div class="baoxian">
                     <p>CHUXINGXIAN</p>
                     <div class="baoxian-xuanze">
                        <!--<div class="baoxian-xuanze-yuan"></div>-->
                         <section class="model-1">
                             <div class="checkbox">
                                 <input type="checkbox"/>
                                 <label></label>
                             </div>
                         </section>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <div class="more">
         <div class="more-zhifufangshi">
             <div class="more-left">
                 <div class="more-left-dian"></div>
                 <p>支付方式</p>
             </div>
             <div class="more-right">
                 <p>在线付款</p>
             </div>
         </div>
         <div class="more-line"></div>
         <div class="more-zhifufangshi">
             <div class="more-left">
                 <div class="more-left-dian"></div>
                 <p>旅行优惠券</p>
             </div>
             <div class="more-right">
                 <p>暂无旅行优惠券</p>
             </div>
         </div>
     </div>
     <div class="last-money">
         <div class="last-money-left">
             <p>最终支付金额</p>
         </div>
         <div class="last-money-right">
             <p>REM <span>3800.00</span></p>
         </div>
     </div>
    <dvi class="anniu">
        <div class="anniu-bg">
            <p>去支付</p>
        </div>
    </dvi>
</div>
</body>
<script src="js/dtt-swiper.min.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        paginationClickable: true,
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: 2500,
        autoplayDisableOnInteraction: false
    });
</script>
<script>
    console.log( $(".main-lanmu-nr ul li"));
    $(".main-lanmu-nr ul li").click(function () {
        $(".main-lanmu-nr ul li").addClass("active").not(this).removeClass("active");
    })
</script>
</html>