<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>Document</title>
    <link rel="stylesheet" href="{CSS_PATH}/base.css ">
    <link rel="stylesheet" href="{CSS_PATH}/dtt-pay.css">
    <script src="{JS_PATH}/rem.js"></script>
    <script src="{JS_PATH}/jQuery.js"></script>
    <script src="{JS_PATH}/back.js"></script>
</head>
<body>
<div class="header">
    <div class="back history">
        <img src="{IMG_PATH}/dtt-pay-back_03.png" alt="">
    </div>
    <div class="bt">
          DERFULCTOM
    </div>
    <div class="da-bt">
        PACENT.CEN
    </div>
    <div class="dash-line">
        <div style="background: #fff"></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div style="background: #fff"></div>
    </div>
    <div class="bt-zi">
        付款方式选择
    </div>
</div>

<div class="main">
    <div class="main-nr">
        <div class="main-dabg">
            <div class="main-top">
                <div class="main-dian">
                    <div class="xiao yuan"></div>
                    <div class="mid yuan"></div>
                    <div class="yuan"></div>
                    <div class="mid yuan"></div>
                    <div class="xiao yuan"></div>
                </div>
                <div class="main-bt">
                    DISANFANGZHIFUSHAIXUAN
                </div>
                <div class="main-dabt">
                    支付平台筛选
                </div>

                <div class="main-kind">
                    <div class="main-paykind">
                        <img src="{IMG_PATH}/dtt-pay-kind_03.png" alt="">
                    </div>
                    <div class="main-paykind">
                        <img src="{IMG_PATH}/dtt-pay-kind_06.png" alt="">
                    </div>
                </div>
            </div>
            <div class="main-bottom">
                <div class="main-dian">
                    <div class="xiao yuan"></div>
                    <div class="mid yuan"></div>
                    <div class="yuan"></div>
                    <div class="mid yuan"></div>
                    <div class="xiao yuan"></div>
                </div>
                <div class="main-bt">
                    DISANFANGZHIFUSHAIXUAN
                </div>
                <div class="main-dabt">
                    其他支付方式
                </div>

                <div class="main-kind">
                    <div class="main-paykind">
                        <a href="index.php?m=index&f=pay&a=backpay">
                            <img src="{IMG_PATH}/dtt-pay-kind_08.png" alt="">
                        </a>
                    </div>
                    <div class="main-paykind">
                        <a href="">
                            <img src="{IMG_PATH}/dtt-pay-kind_10.png" alt="">
                        </a>
                    </div>
                    <div class="main-paykind">
                        <a href="">
                            <img src="{IMG_PATH}/dtt-pay-kind_12.png" alt="">
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>