<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="{CSS_PATH}/base.css">
    <link rel="stylesheet" href="{CSS_PATH}/yjr_person.css">
    <script src="{JS_PATH}/rem.js"></script>
    <script src="{JS_PATH}/jQuery.js"></script>
    <script>
        $(function () {
            $(".banner-fh").click(function () {
                history.go(-1);
            })
        });
    </script>
</head>
<body>
<header>
    <div class="bannerk">
        <div class="zhe"></div>
        <div class="banner-title">
            <div class="banner-fh">
                <img src="{IMG_PATH}/yjr_per_fh.png" alt="">
            </div>
            <div class="banner-fx">
                <img src="{IMG_PATH}/yjr_per_fx.png" alt="">
            </div>
        </div>
        <div class="banner-two">
            <div class="banner-tx">
                {if $mphoto}
                <img src="{$mphoto}" alt="">
                {else}
                <img src="{IMG_PATH}/14.png" alt="">
                {/if}
            </div>
            <div class="bianji">
                <a href="{'index.php?m=index&f=xiugai'}">
                    <img src="{IMG_PATH}/yjr_per_bj.png" alt="">
                </a>
            </div>
            <div class="shezhi">
                <a href="{'index.php?m=index&f=shezhi'}">
                    <img src="{IMG_PATH}/yjr_per_sz.png" alt="">
                </a>
            </div>
        </div>
        <p class="banner-three">
            {$mname}
        </p>
        <p class="banner-four">
            I like this music so  make me  amazing
        </p>
        <p class="banner-sl">··············</p>
        <p class="banner-wjx">
            <img src="{IMG_PATH}/yjr_per_wjx.png" alt="">
            <img src="{IMG_PATH}/yjr_per_wjx.png" alt="">
            <img src="{IMG_PATH}/yjr_per_wjx.png" alt="">
            <img src="{IMG_PATH}/yjr_per_wjx.png" alt="">
            <img src="{IMG_PATH}/yjr_per_wjx.png" alt="">
        </p>
    </div>
</header>
<div class="neirong">
    <div class="nr-title"></div>
    <div class="nr-nr">
        <div class="nr-nr-one">
            <h3 class="nr-nr-title">Travel life rich and colorful</h3>
            <div class="like">
                <div class="like-zi">like</div>
                <div class="like-zi">share</div>
            </div>
            <div class="jing">
                <img src="{IMG_PATH}/yjr_per_jing.png" alt="">
            </div>
            <div class="chart">
                <div class="chart-one"></div>
                <div class="chart-two">
                    <div class="chart-liuyan"></div>
                    <div class="chart-two-right">
                        <p class="chart-liu-zi1">5689</p>
                        <p class="chart-liu-zi2">CHARM</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="nr-nr-one">
            <h3 class="nr-nr-title">Travel life rich and colorful</h3>
            <div class="like">
                <div class="like-zi">like</div>
                <div class="like-zi">share</div>
            </div>
            <div class="jing">
                <img src="{IMG_PATH}/yjr_per_jing.png" alt="">
            </div>
            <div class="chart">
                <div class="chart-one"></div>
                <div class="chart-two">
                    <div class="chart-liuyan"></div>
                    <div class="chart-two-right">
                        <p class="chart-liu-zi1">5689</p>
                        <p class="chart-liu-zi2">CHARM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>