<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>Document</title>
    <link rel="stylesheet" href="{CSS_PATH}/base.css">
    <link rel="stylesheet" href="{CSS_PATH}/zzl-photo.css">
    <script src="{JS_PATH}/rem.js"></script>
    <script src="{JS_PATH}/jQuery.js"></script>
    <script src="{JS_PATH}/back.js"></script>
    <style>
        .touch {
            border-radius: 50%;
            border: 2px solid #1e8ee9;
        }

        .touch > img {
            list-style: none;
            border: 0;
            border-radius: 50%;
        }
    </style>
</head>
<body>
<div class="back history"><img src="{IMG_PATH}/zzl-back.png" alt=""></div>
<div class="title">
    <img src="{IMG_PATH}/zzl-photo-title.png" alt="">
</div>
<div class="kuang-k">
    <div class="kuang">
        <div class="dian"></div>
        <div class="chose">
            <img src="{IMG_PATH}/zzl-photo-chose.png" alt="">
        </div>
        <div class="touch">
            {if $mphoto}
            <img src="{$mphoto}" alt="">
            {else}
            <img src="{IMG_PATH}/14.png" alt="">
            {/if}
        </div>
        <div class="shangchuan">
            <img src="{IMG_PATH}/zzl-photo-shangchuan.png" alt="">
        </div>
        <ul class="foot">
            <li class="item">
                <img src="{IMG_PATH}/zzl-photo-foot.png" alt="">
                <div class="zi">相册</div>
                <div class="zi1">PHOTO ALBNM</div>
            </li>
            <li class="item">
                <img src="{IMG_PATH}/zzl-photo-foot.png" alt="">
                <div class="zi"> &nbsp;拍照</div>
                <div class="zi1"> &nbsp;DENGLUHERE</div>
            </li>
        </ul>
    </div>
</div>
</body>
<script>
    $(".shangchuan").click(function () {
        location.href = "index.php?m=index&f=xiugai&a=editPhoto";
    })
</script>
</html>