<!--<?php
session_start();
?>-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{CSS_PATH}/mui.min.css">
    <script src="{JS_PATH}/rem.js"></script>
    <script>
        window.onload=function () {
            var back=document.querySelector(".back");
            back.onclick=function(){
                location.href=history.go(-1);
            }
        }
    </script>
</head>
<body>
<header class="mui-bar mui-bar-nav" style="background:#285BED;">
    <a herf="#" class="back"><img src="{IMG_PATH}/zzl-back.png" alt="" style="width:1.5rem;margin-top:0.6rem"></a>
    <h1 class="mui-title" style="color: #fff;">修改</h1>
</header>

<div class="mui-content">
    <ul class="mui-table-view">
        <li class="mui-table-view-cell">
            <a class="mui-navigate-right" href="{'index.php?m=index&f=xiugai&a=photo'}">
                上传头像
            </a>
        </li>
        {if $flag}
        <li class="mui-table-view-cell">
            <a class="mui-navigate-right" href="index.php?m=index&f=xiugai&a=editNicheng&mid={$mid}">
                修改昵称
            </a>
        </li>
        {else if}
        <li class="mui-table-view-cell">
            <a class="mui-navigate-right" href="index.php?m=index&f=xiugai&a=addNicheng&mid={$mid}">
                添加昵称
            </a>
        </li>
        {/if}
        <li class="mui-table-view-cell">
            <a class="mui-navigate-right" href="{'index.php?m=index&f=xiugai&a=editpass'}">
                修改密码
            </a>
        </li>
    </ul>
</div>

</body>
</html>