
<!doctype html>
<html lang="en">
        <head>
        <meta charset="UTF-8">
        <meta name="viewport"
content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="css/mui.min.css">
            <script src="js/rem.js"></script>
        <script src="js/jQuery.js"></script>
<script src="js/jquery.validate.js"></script>
<script src="js/messages_zh.js"></script>
<style>
    label.error{
        position: absolute;
        right: 0;
        width: 200px;
        text-align: right;
        color: #00a2d4;
    }
    body{
        background: #fff;
    }
</style>
</head>
<body>
<header class="mui-bar mui-bar-nav" style="background:#285BED;">
    <a href="zzl-personal-xiugai.html"><img src="img/zzl-back.png" alt="" style="width:0.5rem;margin-top:0.2rem"></a>
    <h1 class="mui-title" style="color: #fff;">修改昵称</h1>
</header>
<div class="mui-content">
    <form id='login-form' class="mui-input-group" action="" method="post">
        <div class="mui-input-row">
            <label>旧昵称</label>
            <input  type="text" class="mui-input-clear mui-input" placeholder="请输入旧昵称" name="oldname">
        </div>


        <div class="mui-input-row">
            <label>新昵称</label>
            <input type="text" class="mui-input-clear mui-input" placeholder="输入新昵称" name="uname">
        </div>
            <button  class="mui-btn mui-btn-block mui-btn-primary" type="submit" style="margin:0 auto;margin-top:8rem;width: 90%;">提交</button>
    </form>
    <script>
        $("button").click(function(){
            alert(1)
            var oldname=$("input[name=oldname]").val();
            var uname=$("input[name=uname]").val();

            $.ajax({
                url:"editnamecon.php",
                type:"post",
                data:{
                    oldname:oldname,uname:uname
                },
                success:function(e){
                    if(e=="ok"){
                        $("input[name=oldname]").val("");
                        $("input[name=uname]").val("");

                        alert("修改成功");

                        location.href="editname.php";
                    }else if(e=="error"){
                        $("input[name=oldname]").val("");
                        $("input[name=uname]").val("");

                        alert("修改失败");

                    }
                }
            })
        })


    </script>
</div>
</body>
<!--<script>
    $("#login-form").validate({
        //rules规则和上面直接用一样
        rules: {
            oldpass: {
                required: true,
                minlength:6,
            },
            upass: {
                required: true,
                minlength:6,
            },
            upass1: {
                required: true,
                minlength:6,
                equalTo:"#password",

            },

//
        },
        //自定义后面显示的内容
        messages: {
            oldpass: {
                required: "必填",
                minlength:"请输入六位数",
            },
            upass: {
                required: "必填",
                minlength:"请输入六位数",
            },
            upass1: {
                required: "必填",
                minlength:"请输入六位数",
                equalTo:"密码不一致",
            },

//
        }
    });

</script>-->
</html>